header {
  width: 100%;
  padding: 1em 0 1em 0;
  position: relative;
  display: inline-flex;

  .titleHeader, .boxInputSearch {
    display: flex;
    position: relative;
    flex-direction: row;
  }

  .titleHeader {
    width: 30vh;
    margin-top: -0.45em;
    font-size: 32px;
  }
  .boxInputSearch {
    margin-top: 1.0em;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;

    .titleHeader {
      width: 20vh;
      margin-bottom: -0.9em;
    }

    .boxInputSearch {
      padding-bottom: 2em;
    }
  }
}
