@import "../../vars.scss";

.container {
  padding-left: 5em;
  padding-right: 5em;

  & .boxProfile {
    display: flex;
    flex-direction: row;

    & .boxProfileDetails, .boxProfileRepositories {
      padding-top: 10%;
    }

    & .boxProfileRepositories {
      margin-top: -2em;
      padding-left: 3em;
      padding-bottom: 2em;
    }
  }

  & .notFoundProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    color: $secondary;
  }
}


@media screen and (max-width: 426px) {
  .container {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    overflow-x: hidden;

    & .boxProfile {
      display: block;

      & .boxProfileDetails, .boxProfileRepositories {
        width: 80vh;
        align-items: center;
        justify-content: center;
      }

      & .boxProfileRepositories {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 1300px) {
  .container {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    overflow-x: hidden;

  }
}
