
@import "../../../vars.scss";

.title-application {
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: 'Nunito';

  & .main-title-application {
    color: $primary;
  }

  & .secondary-title-application {
    color: $secondary;
    padding-left: 0.5em;
  }
}
