.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  & .boxSearch {
    text-align: center;
    & .titleHome {
      font-size: 80px;
      line-height: 109.12px;
    }
    & .boxInputSearch {
      width: 100%;

      & .inputSearch {
        padding-right: 1em;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {

    & .boxSearch {
      & .titleHome {
        font-size: 2.5em;
      }
    }
    & .boxInputSearch {
      width: 100% !important;
      padding-bottom: 2em;
    }
    & .btnSearch{
      display: block;
      padding-top: 1em;
      width: 100%;
    }
  }
}
