@import "../../../vars.scss";

.p-inputtext-sm {
  width: 60vh;
  font-size: 0.8em;
  color: $textPrimary;
  border-color: $input;
}

.p-inputtext.p-inputtext-sm {
  padding: 0.45625rem 0rem 0.45625rem 2.5rem;
}

.p-inputtext.p-inputtext-sm:active, .p-inputtext.p-inputtext-sm:focus {
  outline: none;
  box-shadow: none;
  border: 0.2em solid;
  border-color: $secondary;
}

@media screen and (max-width: 320px) {
  .p-inputtext-sm {
    width: 45vh;
    max-width: 250px;
  }
}

@media screen and (min-width: 321px) and (max-width: 475px) {
  .p-inputtext-sm {
    width: 45vh;
    max-width: 300px;
  }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
  .p-inputtext-sm {
    width: 45vh;
    max-width: 345px;
  }
}


@media screen and (min-width: 426px) and (max-width: 1300px) {
  .p-inputtext-sm {
    width: 45vh;
    max-width: 350px;
  }
}
